<div id="navBar">
  <div class="navBarSub">
    <%= link_to cl_image_tag("Pro_logo_CMYK-01", :id => "navBarlogo", :alt =>"Logo Pro de la copie"), root_path %>
  </div>
  <div class="navBarSub">
    <ul>
      <li><a href="#">A propos</a></li>
      <li><a href="#">Contactez-nous</a></li>
    </ul>
  </div>
</div>
