.card{
  width:200px;
  min-height:250px;
  border:1px solid $mgray;
  padding:4px;
margin:10px 5px;
}

.card-top{
  background-color:$lgray;
  img{
  width:100%;
  }

}
.card-footer{
color:$dblue;
  text-align:left;
  padding:5px;
  font-family: 'Open Sans', sans-serif;
  p{
  margin:0px;
  font-size:0.6em;
  }


}
