#navBar{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
#navBarlogo{
  padding-top:10px;
  max-width:150px;
  margin-left:-10px;
}
.navBarSub{
  width:50%;
  ul{
    float:right;
    list-style: none;
    li{
      display:inline;
      padding-left:20px;
      a{
        color:$dblue;
        text-decoration:none;
        font-family: 'Open Sans', sans-serif;
        &:hover{
          color:$lblue;
          -webkit-transition: color 0.5s;
          transition: color 0.5s;
        }
      }
    }
  }
}
